<a href="https://colab.research.google.com/github/engcrisoliveira/md/blob/main/fato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
#Importando as bibliotecas
import pandas as pd

#DimAluno

In [ ]:
#Carregando a tabela dimAluno
dimAluno = pd.read_csv('df_aluno.csv', usecols=['ID_ALUNO','RACA','PAIS_ORIGEM','GENERO','ANO_NASCIMENTO'])
dimAluno.head()

#Inserindo a coluna idade
dimAluno['IDADE']= 2019 - dimAluno['ANO_NASCIMENTO']
dimAluno.head()

#Selecionando as colunas do dataframe dimAluno
dimAluno = dimAluno[['ID_ALUNO','RACA','PAIS_ORIGEM','GENERO','IDADE']]
dimAluno.head()

   ID_ALUNO    RACA PAIS_ORIGEM     GENERO  IDADE
0         1   Parda      Brasil  Masculino     30
1         2   Parda      Brasil   Feminino     37
2         3   Parda      Brasil  Masculino     41
3         4   Parda      Brasil  Masculino     27
4         5  Branca      Brasil  Masculino     31

In [ ]:
key_id_dimaluno = pd.read_csv('key_id_dimaluno.csv')
key_id_dimaluno.head()

   key  id_aluno
0    1         1
1    2         2
2    3         3
3    4         4
4    5         5

In [ ]:
#Renomeando as colunas
key_id_dimaluno = key_id_dimaluno.rename(columns={
    'key':'KEY',
    'id_aluno':'ID_ALUNO',
    })
key_id_dimaluno.head()

   KEY  ID_ALUNO
0    1         1
1    2         2
2    3         3
3    4         4
4    5         5

In [ ]:
#Join com arquivo csv com key e id_aluno
dimAluno = pd.merge(dimAluno, key_id_dimaluno, how = 'inner', on = 'ID_ALUNO')
dimAluno.head()

   ID_ALUNO    RACA PAIS_ORIGEM     GENERO  IDADE  KEY
0         1   Parda      Brasil  Masculino     30    1
1         2   Parda      Brasil   Feminino     37    2
2         3   Parda      Brasil  Masculino     41    3
3         4   Parda      Brasil  Masculino     27    4
4         5  Branca      Brasil  Masculino     31    5

In [ ]:
#Renomeando as colunas
dimAluno = dimAluno.rename(columns={
    'KEY':'DimAluno_key',
    'ID_ALUNO':'id_aluno',
    'RACA':'raca',
    'PAIS_ORIGEM':'origem',
    'GENERO':'genero',
    'IDADE':'idade',
    })
dimAluno.head()

   id_aluno    raca  origem     genero  idade  DimAluno_key
0         1   Parda  Brasil  Masculino     30             1
1         2   Parda  Brasil   Feminino     37             2
2         3   Parda  Brasil  Masculino     41             3
3         4   Parda  Brasil  Masculino     27             4
4         5  Branca  Brasil  Masculino     31             5

In [ ]:
dimAluno = dimAluno[['DimAluno_key','id_aluno','raca','origem','genero','idade']]
dimAluno.head()

   DimAluno_key  id_aluno    raca  origem     genero  idade
0             1         1   Parda  Brasil  Masculino     30
1             2         2   Parda  Brasil   Feminino     37
2             3         3   Parda  Brasil  Masculino     41
3             4         4   Parda  Brasil  Masculino     27
4             5         5  Branca  Brasil  Masculino     31

#DimDeficiencia

In [ ]:
#Carregando a tabela dimDeficiencia
dimDeficiencia = pd.read_csv('df_aluno.csv',usecols=['ID_ALUNO','IN_DEFICIENCIA_AUDITIVA','IN_DEFICIENCIA_FISICA','IN_DEFICIENCIA_INTELECTUAL','IN_DEFICIENCIA_MULTIPLA','IN_DEFICIENCIA_SURDEZ','IN_DEFICIENCIA_SURDOCEGUEIRA','IN_DEFICIENCIA_BAIXA_VISAO','IN_DEFICIENCIA_CEGUEIRA','IN_DEFICIENCIA_SUPERDOTACAO','IN_TGD_AUTISMO','IN_TGD_SINDROME_ASPERGER','IN_TGD_SINDROME_RETT','IN_TGD_TRANSTOR_DESINTEGRATIVO'])
dimDeficiencia.head()

   ID_ALUNO  ...  IN_TGD_TRANSTOR_DESINTEGRATIVO
0         1  ...                             0.0
1         2  ...                             0.0
2         3  ...                             0.0
3         4  ...                             0.0
4         5  ...                             0.0

[5 rows x 14 columns]

In [ ]:
#Join com arquivo csv com key e id_aluno
dimDeficiencia = pd.merge(dimDeficiencia, key_id_dimaluno, how = 'inner', on = 'ID_ALUNO')
dimDeficiencia.head()

   ID_ALUNO  IN_DEFICIENCIA_AUDITIVA  ...  IN_TGD_TRANSTOR_DESINTEGRATIVO  KEY
0         1                      0.0  ...                             0.0    1
1         2                      0.0  ...                             0.0    2
2         3                      0.0  ...                             0.0    3
3         4                      0.0  ...                             0.0    4
4         5                      0.0  ...                             0.0    5

[5 rows x 15 columns]

In [ ]:
#Renomeando as colunas
dimDeficiencia = dimDeficiencia.rename(columns={
    'KEY':'DimDeficiencia_key',
    'ID_ALUNO':'id_aluno',
    'IN_DEFICIENCIA_AUDITIVA':'deficiencia_auditiva',
    'IN_DEFICIENCIA_FISICA':'deficiencia_fisica',
    'IN_DEFICIENCIA_INTELECTUAL':'deficiencia_intelectual',
    'IN_DEFICIENCIA_MULTIPLA':'deficiencia_multipla',
    'IN_DEFICIENCIA_SURDEZ':'deficiencia_surdez',
    'IN_DEFICIENCIA_SURDOCEGUEIRA':'deficiencia_surdocegueira',
    'IN_DEFICIENCIA_BAIXA_VISAO':'deficiencia_baixa_visao',
    'IN_DEFICIENCIA_CEGUEIRA':'deficiencia_cegueira',
    'IN_DEFICIENCIA_SUPERDOTACAO':'deficiencia_superdotacao',
    'IN_TGD_AUTISMO':'deficiencia_tgd_autismo',
    'IN_TGD_SINDROME_ASPERGER':'deficiencia_tgd_sindrome_asperger',
    'IN_TGD_SINDROME_RETT':'deficiencia_tgd_sindrome_rett',
    'IN_TGD_TRANSTOR_DESINTEGRATIVO':'deficiencia_tgd_transtor_desintegrativo',
    })
dimDeficiencia.head()

   id_aluno  ...  DimDeficiencia_key
0         1  ...                   1
1         2  ...                   2
2         3  ...                   3
3         4  ...                   4
4         5  ...                   5

[5 rows x 15 columns]

In [ ]:
dimDeficiencia = dimDeficiencia[['DimDeficiencia_key','id_aluno','deficiencia_auditiva','deficiencia_fisica','deficiencia_intelectual','deficiencia_multipla','deficiencia_surdez','deficiencia_surdocegueira','deficiencia_baixa_visao','deficiencia_cegueira','deficiencia_superdotacao','deficiencia_tgd_autismo','deficiencia_tgd_sindrome_asperger','deficiencia_tgd_sindrome_rett','deficiencia_tgd_transtor_desintegrativo']]
dimDeficiencia.head()

   DimDeficiencia_key  ...  deficiencia_tgd_transtor_desintegrativo
0                   1  ...                                      0.0
1                   2  ...                                      0.0
2                   3  ...                                      0.0
3                   4  ...                                      0.0
4                   5  ...                                      0.0

[5 rows x 15 columns]

#DimCurso

In [ ]:
#Carregando a tabela dimCurso
dimCurso = pd.read_csv('df_curso.csv', usecols=['CODIGO_CURSO','NOME_CURSO','MODALIDADE_ENSINO'])
dimCurso.head()

   CODIGO_CURSO           NOME_CURSO MODALIDADE_ENSINO
0           1.0              DIREITO        Presencial
1           2.0  CIÃNCIAS ECONÃMICAS        Presencial
2           3.0     ENGENHARIA CIVIL        Presencial
3           6.0            PEDAGOGIA        Presencial
4           7.0       SERVIÃO SOCIAL        Presencial

In [ ]:
key_id_dimcurso = pd.read_csv('key_id_dimcurso.csv')
key_id_dimcurso.head()

   key  cod_curso
0    1          1
1    2          2
2    3          3
3    4          6
4    5          7

In [ ]:
#Renomeando as colunas
dimCurso = dimCurso.rename(columns={
    'CODIGO_CURSO':'cod_curso',
    'NOME_CURSO':'nome_curso',
    'MODALIDADE_ENSINO':'modalidade_ensino',
        })
dimCurso.head()

   cod_curso           nome_curso modalidade_ensino
0        1.0              DIREITO        Presencial
1        2.0  CIÃNCIAS ECONÃMICAS        Presencial
2        3.0     ENGENHARIA CIVIL        Presencial
3        6.0            PEDAGOGIA        Presencial
4        7.0       SERVIÃO SOCIAL        Presencial

In [ ]:
#Join com arquivo csv com key e id_aluno
dimCurso = pd.merge(dimCurso, key_id_dimcurso, how = 'inner', on = 'cod_curso')
dimCurso.head()

   cod_curso           nome_curso modalidade_ensino  key
0        1.0              DIREITO        Presencial    1
1        2.0  CIÃNCIAS ECONÃMICAS        Presencial    2
2        3.0     ENGENHARIA CIVIL        Presencial    3
3        6.0            PEDAGOGIA        Presencial    4
4        7.0       SERVIÃO SOCIAL        Presencial    5

In [ ]:
#Renomeando as colunas
dimCurso = dimCurso.rename(columns={
    'key':'DimCurso_key',
        })
dimCurso.head()

   cod_curso           nome_curso modalidade_ensino  DimCurso_key
0        1.0              DIREITO        Presencial             1
1        2.0  CIÃNCIAS ECONÃMICAS        Presencial             2
2        3.0     ENGENHARIA CIVIL        Presencial             3
3        6.0            PEDAGOGIA        Presencial             4
4        7.0       SERVIÃO SOCIAL        Presencial             5

In [ ]:
dimCurso = dimCurso[['DimCurso_key','cod_curso','nome_curso','modalidade_ensino']]
dimCurso.head()

   DimCurso_key  cod_curso           nome_curso modalidade_ensino
0             1        1.0              DIREITO        Presencial
1             2        2.0  CIÃNCIAS ECONÃMICAS        Presencial
2             3        3.0     ENGENHARIA CIVIL        Presencial
3             4        6.0            PEDAGOGIA        Presencial
4             5        7.0       SERVIÃO SOCIAL        Presencial

#DimIes

In [ ]:
#Carregando a tabela dimIes
dimIes = pd.read_csv('df_curso.csv', usecols=['CODIGO_IES','NOME_IES','TIPO_CATEGORIA_ADM','SIGLA_IES','TIPO_ORG_ACADEMICA','CODIGO_CURSO'])
dimIes.head()

   CODIGO_IES  ... CODIGO_CURSO
0           1  ...          1.0
1           1  ...          2.0
2           1  ...          3.0
3           1  ...          6.0
4           1  ...          7.0

[5 rows x 6 columns]

In [ ]:
key_id_dimies = pd.read_csv('key_id_dimies.csv')
key_id_dimies.head()

   key  cod_ies
0    1        1
1    2        2
2    3        3
3    4        4
4    5        5

In [ ]:
#Renomeando as colunas
dimIes = dimIes.rename(columns={
    'CODIGO_IES':'cod_ies',
    'NOME_IES':'nome',
    'TIPO_CATEGORIA_ADM':'categoria',
    'SIGLA_IES':'sigla',
    'TIPO_ORG_ACADEMICA':'tipo_organizacao',
    'CODIGO_CURSO':'cod_curso',
        })
dimIes.head()

   cod_ies                                 nome  ... tipo_organizacao cod_curso
0        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       1.0
1        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       2.0
2        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       3.0
3        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       6.0
4        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       7.0

[5 rows x 6 columns]

In [ ]:
#Join com arquivo csv com key e cod_ies
dimIes = pd.merge(dimIes, key_id_dimies, how = 'inner', on = 'cod_ies')
dimIes.head()

   cod_ies                                 nome  ... cod_curso key
0        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       1.0   1
1        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       2.0   1
2        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       3.0   1
3        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       6.0   1
4        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       7.0   1

[5 rows x 7 columns]

In [ ]:
#Renomeando as colunas
dimIes = dimIes.rename(columns={
    'key':'DimIes_key',
        })
dimIes.head()

   cod_ies                                 nome  ... cod_curso DimIes_key
0        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       1.0          1
1        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       2.0          1
2        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       3.0          1
3        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       6.0          1
4        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       7.0          1

[5 rows x 7 columns]

#DimMunicipio (DimRegiao)

In [ ]:
#Carregando a tabela dimIes
dimRegiao = pd.read_csv('df_curso.csv', usecols=['CODIGO_CURSO','CO_MUNICIPIO','UF','REGIAO'])
dimRegiao.head()

         REGIAO           UF  CO_MUNICIPIO  CODIGO_CURSO
0  Centro-Oeste  Mato Grosso     5103403.0           1.0
1  Centro-Oeste  Mato Grosso     5103403.0           2.0
2  Centro-Oeste  Mato Grosso     5103403.0           3.0
3  Centro-Oeste  Mato Grosso     5103403.0           6.0
4  Centro-Oeste  Mato Grosso     5103403.0           7.0

In [ ]:
#erro! 
#corrigir o cod_municipio no mysql
key_id_dimregiao = pd.read_csv('key_id_dimregiao.csv')
key_id_dimregiao.head()

   key  cod_municipio
0    1              1
1    2              2
2    3              3
3    4              4
4    5              5

In [ ]:
#Renomeando as colunas
dimRegiao = dimRegiao.rename(columns={
    'CODIGO_CURSO':'cod_curso',
    'REGIAO':'regiao',
    'UF':'estado',
    'CO_MUNICIPIO':'cod_municipio'
        })
dimRegiao.head()

         regiao       estado  cod_municipio  cod_curso
0  Centro-Oeste  Mato Grosso      5103403.0        1.0
1  Centro-Oeste  Mato Grosso      5103403.0        2.0
2  Centro-Oeste  Mato Grosso      5103403.0        3.0
3  Centro-Oeste  Mato Grosso      5103403.0        6.0
4  Centro-Oeste  Mato Grosso      5103403.0        7.0

#FatoCursoDeficiencia

In [ ]:
dimDeficiencia.head()

   DimDeficiencia_key  ...  deficiencia_tgd_transtor_desintegrativo
0                   1  ...                                      0.0
1                   2  ...                                      0.0
2                   3  ...                                      0.0
3                   4  ...                                      0.0
4                   5  ...                                      0.0

[5 rows x 15 columns]

In [ ]:
#Join dimAluno com dimDeficiencia
FatoCursoDeficiencia = pd.merge(dimAluno, dimDeficiencia, how = 'inner', on = 'id_aluno')
#FatoCursoDeficiencia = dimAluno.join(dimDeficiencia.set_index('ID_ALUNO'), on='ID_ALUNO')
FatoCursoDeficiencia.head()

   DimAluno_key  ...  deficiencia_tgd_transtor_desintegrativo
0             1  ...                                      0.0
1             2  ...                                      0.0
2             3  ...                                      0.0
3             4  ...                                      0.0
4             5  ...                                      0.0

[5 rows x 20 columns]

In [ ]:
#Dados do id_aluno com cod_curso
id_aluno_cod_curso = pd.read_csv('id_aluno_cod_curso.csv')
id_aluno_cod_curso.head()

   id_aluno  codigo_curso
0         1             1
1         2             1
2         3             1
3         4             1
4         5             1

In [ ]:
#Renomeando as colunas
id_aluno_cod_curso = id_aluno_cod_curso.rename(columns={
    'codigo_curso':'cod_curso',
    })
id_aluno_cod_curso.head()

   id_aluno  cod_curso
0         1          1
1         2          1
2         3          1
3         4          1
4         5          1

In [ ]:
#Join Fato com id_aluno
FatoCursoDeficiencia = pd.merge(FatoCursoDeficiencia, id_aluno_cod_curso, how = 'inner', on = 'id_aluno')
FatoCursoDeficiencia.head()

   DimAluno_key  id_aluno  ... deficiencia_tgd_transtor_desintegrativo cod_curso
0             1         1  ...                                     0.0         1
1             2         2  ...                                     0.0         1
2             3         3  ...                                     0.0         1
3             4         4  ...                                     0.0         1
4             5         5  ...                                     0.0         1

[5 rows x 21 columns]

In [ ]:
#Join DimCurso com DimIes
dimCursoIes = pd.merge(dimCurso, dimIes, how = 'inner', on = 'cod_curso')
dimCursoIes.head(3)

   DimCurso_key  cod_curso  ... tipo_organizacao DimIes_key
0             1        1.0  ...     Universidade          1
1             2        2.0  ...     Universidade          1
2             3        3.0  ...     Universidade          1

[3 rows x 10 columns]

In [ ]:
#Join Fato com id_aluno
FatoCursoDeficiencia = pd.merge(FatoCursoDeficiencia, dimCursoIes, how = 'inner', on = 'cod_curso')
FatoCursoDeficiencia.head(3)

   DimAluno_key  id_aluno   raca  ...        categoria tipo_organizacao  DimIes_key
0             1         1  Parda  ...  PÃºblica Federal     Universidade           1
1             2         2  Parda  ...  PÃºblica Federal     Universidade           1
2             3         3  Parda  ...  PÃºblica Federal     Universidade           1

[3 rows x 30 columns]

In [ ]:
#Deletando colunas "repetidas"
#FatoCursoDeficiencia = FatoCursoDeficiencia.drop(columns=['DimCurso_key_y','nome_curso_y','modalidade_ensino_y','cod_ies_y','nome_y','sigla_y','categoria_y','tipo_organizacao_y','DimIes_key_y'])
#FatoCursoDeficiencia.head(3)

In [ ]:
#Renomeando as colunas
FatoCursoDeficiencia = FatoCursoDeficiencia.rename(columns={
    'id_aluno':'DimAluno_id_aluno',
    'cod_curso':'DimCurso_cod_curso',
    'cod_ies_x':'DimIes_cod_ies',
    'DimCurso_key_x':'DimCurso_key',
    'nome_curso_x':'nome_curso',
    'modalidade_ensino_x':'modalidade_ensino',
    'cod_ies_x':'cod_ies',
    'nome_x':'nome',
    'sigla_x':'sigla',
    'categoria_x':'categoria',
    'tipo_organizacao_x':'tipo_organizacao',
    'DimIes_key_x':'DimIes_key',
        })
FatoCursoDeficiencia.head(3)

   DimAluno_key  DimAluno_id_aluno  ... tipo_organizacao DimIes_key
0             1                  1  ...     Universidade          1
1             2                  2  ...     Universidade          1
2             3                  3  ...     Universidade          1

[3 rows x 30 columns]

In [ ]:
FatoCursoDeficiencia['DimDeficiencia_id_aluno'] = FatoCursoDeficiencia['DimAluno_id_aluno']
FatoCursoDeficiencia.head(3)

   DimAluno_key  DimAluno_id_aluno  ... DimIes_key DimDeficiencia_id_aluno
0             1                  1  ...          1                       1
1             2                  2  ...          1                       2
2             3                  3  ...          1                       3

[3 rows x 31 columns]

In [ ]:
#Carregando os dados quantitativos
fatocursos = pd.read_csv('fatocursos_dw.csv')
fatocursos.head()

   Unnamed: 0  CODIGO_CURSO  ...  NUM_ALUNOS_CONCLUINTES  RECURSOS
0           0           1.0  ...                    75.0       1.0
1           1           2.0  ...                    28.0       0.0
2           2           3.0  ...                    45.0       0.0
3           3           6.0  ...                    53.0       9.0
4           4           7.0  ...                    32.0       1.0

[5 rows x 5 columns]

In [ ]:
#Renomeando as colunas
fatocursos = fatocursos.rename(columns={
    'CODIGO_CURSO':'cod_curso',
    'NUM_ALUNOS_MATRICULADOS':'num_matriculados',
    'NUM_ALUNOS_CONCLUINTES':'num_concluintes',
    'RECURSOS':'num_recursos',
    })
fatocursos.head()

   Unnamed: 0  cod_curso  num_matriculados  num_concluintes  num_recursos
0           0        1.0             447.0             75.0           1.0
1           1        2.0             323.0             28.0           0.0
2           2        3.0             248.0             45.0           0.0
3           3        6.0             331.0             53.0           9.0
4           4        7.0             274.0             32.0           1.0

In [ ]:
#Deletando colunas "repetidas"
fatocursos = fatocursos.drop(columns=['Unnamed: 0'])
fatocursos.head(3)

   cod_curso  num_matriculados  num_concluintes  num_recursos
0        1.0             447.0             75.0           1.0
1        2.0             323.0             28.0           0.0
2        3.0             248.0             45.0           0.0

In [ ]:
FatoCursoDeficiencia['cod_curso']=FatoCursoDeficiencia['DimCurso_cod_curso']
FatoCursoDeficiencia.head(3)

   DimAluno_key  DimAluno_id_aluno  ... DimDeficiencia_id_aluno cod_curso
0             1                  1  ...                       1         1
1             2                  2  ...                       2         1
2             3                  3  ...                       3         1

[3 rows x 32 columns]

In [ ]:
#Join FatoCursoDeficiencia com dados quantitativos
FatoCursoDeficiencia = pd.merge(FatoCursoDeficiencia, fatocursos, how = 'inner', on = 'cod_curso')
FatoCursoDeficiencia.head(3)

   DimAluno_key  DimAluno_id_aluno  ... num_concluintes num_recursos
0             1                  1  ...            75.0          1.0
1             2                  2  ...            75.0          1.0
2             3                  3  ...            75.0          1.0

[3 rows x 35 columns]

In [ ]:
#idade mÃ©dia por curso
FatoCursoDeficiencia['idade_media_curso'] = FatoCursoDeficiencia.groupby('cod_curso')['idade'].mean()
FatoCursoDeficiencia.head(3)

   DimAluno_key  DimAluno_id_aluno  ... num_recursos idade_media_curso
0             1                  1  ...          1.0               NaN
1             2                  2  ...          1.0             37.25
2             3                  3  ...          1.0             25.00

[3 rows x 36 columns]

In [ ]:
FatoCursoDeficiencia['DimAno_key'] = 2009
FatoCursoDeficiencia['DimAno_id_ano'] = 2009
FatoCursoDeficiencia.head(3)

   DimAluno_key  DimAluno_id_aluno  ... DimAno_key DimAno_id_ano
0             1                  1  ...       2009          2009
1             2                  2  ...       2009          2009
2             3                  3  ...       2009          2009

[3 rows x 38 columns]

In [ ]:
#Renomeando as colunas
FatoCursoDeficiencia = FatoCursoDeficiencia.rename(columns={
    'cod_ies':'DimIes_cod_ies',
    })
FatoCursoDeficiencia.head()

   DimAluno_key  DimAluno_id_aluno  ... DimAno_key DimAno_id_ano
0             1                  1  ...       2009          2009
1             2                  2  ...       2009          2009
2             3                  3  ...       2009          2009
3             4                  4  ...       2009          2009
4             5                  5  ...       2009          2009

[5 rows x 38 columns]

In [ ]:
#Falta DimRecursosAcessibilidade_key, DimRecursosAcessibilidade_cod_curso, DimRegiao_key, DimRegiao_cod_municipio, 
#FatoCursoDeficiencia_mysql = FatoCursoDeficiencia[['idade_media_curso','num_recursos','num_matriculados','num_concluintes',
                                                   'DimCurso_key','DimCurso_cod_curso',
                                                   'DimRecursoAcessibilidade_key','DimRecursoAcessibilidade_codigo_curso',
                                                   'DimAluno_key','DimAluno_id_aluno',
                                                   'DimIes_key','DimIes_cod_ies',
                                                   'DimAno_key','DimAno_id_ano',
                                                   'DimDeficiencia_key','DimDeficiencia_id_aluno'
                                                   'DimRegiao_key','DimRegiao_cod_municipio'
                                                   ]]
#FatoCursoDeficiencia_mysql.head()

   idade_media_curso  num_recursos  ...  DimDeficiencia_key  DimDeficiencia_id_aluno
0                NaN           1.0  ...                   1                        1
1              37.25           1.0  ...                   2                        2
2              25.00           1.0  ...                   3                        3
3              19.00           1.0  ...                   4                        4
4                NaN           1.0  ...                   5                        5

[5 rows x 14 columns]

In [ ]:
#Falta!!!
#Join DimCursoIes com DimRegiao
#DimCursoIesRegiao = pd.merge(DimCursoIes, dimRegiao, how = 'inner', on = 'cod_curso')
#DimCursoIesRegiao.head(3)

In [ ]:
#Exportando o dataframe para um arquivo csv
#FatoCursoDeficiencia.to_csv('tabela_fatocursodeficiencia.csv')