<a href="https://colab.research.google.com/github/engcrisoliveira/md/blob/main/fato.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
#Importando as bibliotecas
import pandas as pd

#DimAluno

In [23]:
#Carregando a tabela dimAluno
dimAluno = pd.read_csv('df_aluno.csv', usecols=['ID_ALUNO','RACA','PAIS_ORIGEM','GENERO','ANO_NASCIMENTO'])
dimAluno.head()

#Inserindo a coluna idade
dimAluno['IDADE']= 2019 - dimAluno['ANO_NASCIMENTO']
dimAluno.head()

#Selecionando as colunas do dataframe dimAluno
dimAluno = dimAluno[['ID_ALUNO','RACA','PAIS_ORIGEM','GENERO','IDADE']]
dimAluno.head()

   ID_ALUNO    RACA PAIS_ORIGEM     GENERO  IDADE
0         1   Parda      Brasil  Masculino     30
1         2   Parda      Brasil   Feminino     37
2         3   Parda      Brasil  Masculino     41
3         4   Parda      Brasil  Masculino     27
4         5  Branca      Brasil  Masculino     31

In [24]:
key_id_dimaluno = pd.read_csv('key_id_dimaluno.csv')
key_id_dimaluno.head()

   key  id_aluno
0    1         1
1    2         2
2    3         3
3    4         4
4    5         5

In [25]:
#Renomeando as colunas
key_id_dimaluno = key_id_dimaluno.rename(columns={
    'key':'KEY',
    'id_aluno':'ID_ALUNO',
    })
key_id_dimaluno.head()

   KEY  ID_ALUNO
0    1         1
1    2         2
2    3         3
3    4         4
4    5         5

In [29]:
#Join com arquivo csv com key e id_aluno
dimAluno = pd.merge(dimAluno, key_id_dimaluno, how = 'inner', on = 'ID_ALUNO')
dimAluno.head()

   ID_ALUNO    RACA PAIS_ORIGEM     GENERO  IDADE  KEY
0         1   Parda      Brasil  Masculino     30    1
1         2   Parda      Brasil   Feminino     37    2
2         3   Parda      Brasil  Masculino     41    3
3         4   Parda      Brasil  Masculino     27    4
4         5  Branca      Brasil  Masculino     31    5

In [30]:
#Renomeando as colunas
dimAluno = dimAluno.rename(columns={
    'KEY':'DimAluno_key',
    'ID_ALUNO':'id_aluno',
    'RACA':'raca',
    'PAIS_ORIGEM':'origem',
    'GENERO':'genero',
    'IDADE':'idade',
    })
dimAluno.head()

   id_aluno    raca  origem     genero  idade  DimAluno_key
0         1   Parda  Brasil  Masculino     30             1
1         2   Parda  Brasil   Feminino     37             2
2         3   Parda  Brasil  Masculino     41             3
3         4   Parda  Brasil  Masculino     27             4
4         5  Branca  Brasil  Masculino     31             5

In [31]:
dimAluno = dimAluno[['DimAluno_key','id_aluno','raca','origem','genero','idade']]
dimAluno.head()

   DimAluno_key  id_aluno    raca  origem     genero  idade
0             1         1   Parda  Brasil  Masculino     30
1             2         2   Parda  Brasil   Feminino     37
2             3         3   Parda  Brasil  Masculino     41
3             4         4   Parda  Brasil  Masculino     27
4             5         5  Branca  Brasil  Masculino     31

#DimDeficiencia

In [17]:
#Carregando a tabela dimDeficiencia
dimDeficiencia = pd.read_csv('df_aluno.csv',usecols=['ID_ALUNO','IN_DEFICIENCIA_AUDITIVA','IN_DEFICIENCIA_FISICA','IN_DEFICIENCIA_INTELECTUAL','IN_DEFICIENCIA_MULTIPLA','IN_DEFICIENCIA_SURDEZ','IN_DEFICIENCIA_SURDOCEGUEIRA','IN_DEFICIENCIA_BAIXA_VISAO','IN_DEFICIENCIA_CEGUEIRA','IN_DEFICIENCIA_SUPERDOTACAO','IN_TGD_AUTISMO','IN_TGD_SINDROME_ASPERGER','IN_TGD_SINDROME_RETT','IN_TGD_TRANSTOR_DESINTEGRATIVO'])
dimDeficiencia.head()

   ID_ALUNO  ...  IN_TGD_TRANSTOR_DESINTEGRATIVO
0         1  ...                             0.0
1         2  ...                             0.0
2         3  ...                             0.0
3         4  ...                             0.0
4         5  ...                             0.0

[5 rows x 14 columns]

In [18]:
#Join com arquivo csv com key e id_aluno
dimDeficiencia = pd.merge(dimDeficiencia, key_id_dimaluno, how = 'inner', on = 'ID_ALUNO')
dimDeficiencia.head()

   ID_ALUNO  IN_DEFICIENCIA_AUDITIVA  ...  IN_TGD_TRANSTOR_DESINTEGRATIVO  KEY
0         1                      0.0  ...                             0.0    1
1         2                      0.0  ...                             0.0    2
2         3                      0.0  ...                             0.0    3
3         4                      0.0  ...                             0.0    4
4         5                      0.0  ...                             0.0    5

[5 rows x 15 columns]

In [19]:
#Renomeando as colunas
dimDeficiencia = dimDeficiencia.rename(columns={
    'KEY':'DimDeficiencia_key',
    'ID_ALUNO':'id_aluno',
    'IN_DEFICIENCIA_AUDITIVA':'deficiencia_auditiva',
    'IN_DEFICIENCIA_FISICA':'deficiencia_fisica',
    'IN_DEFICIENCIA_INTELECTUAL':'deficiencia_intelectual',
    'IN_DEFICIENCIA_MULTIPLA':'deficiencia_multipla',
    'IN_DEFICIENCIA_SURDEZ':'deficiencia_surdez',
    'IN_DEFICIENCIA_SURDOCEGUEIRA':'deficiencia_surdocegueira',
    'IN_DEFICIENCIA_BAIXA_VISAO':'deficiencia_baixa_visao',
    'IN_DEFICIENCIA_CEGUEIRA':'deficiencia_cegueira',
    'IN_DEFICIENCIA_SUPERDOTACAO':'deficiencia_superdotacao',
    'IN_TGD_AUTISMO':'deficiencia_tgd_autismo',
    'IN_TGD_SINDROME_ASPERGER':'deficiencia_tgd_sindrome_asperger',
    'IN_TGD_SINDROME_RETT':'deficiencia_tgd_sindrome_rett',
    'IN_TGD_TRANSTOR_DESINTEGRATIVO':'deficiencia_tgd_transtor_desintegrativo',
    })
dimDeficiencia.head()

   id_aluno  ...  DimDeficiencia_key
0         1  ...                   1
1         2  ...                   2
2         3  ...                   3
3         4  ...                   4
4         5  ...                   5

[5 rows x 15 columns]

In [20]:
dimDeficiencia = dimDeficiencia[['DimDeficiencia_key','id_aluno','deficiencia_auditiva','deficiencia_fisica','deficiencia_intelectual','deficiencia_multipla','deficiencia_surdez','deficiencia_surdocegueira','deficiencia_baixa_visao','deficiencia_cegueira','deficiencia_superdotacao','deficiencia_tgd_autismo','deficiencia_tgd_sindrome_asperger','deficiencia_tgd_sindrome_rett','deficiencia_tgd_transtor_desintegrativo']]
dimDeficiencia.head()

   DimDeficiencia_key  ...  deficiencia_tgd_transtor_desintegrativo
0                   1  ...                                      0.0
1                   2  ...                                      0.0
2                   3  ...                                      0.0
3                   4  ...                                      0.0
4                   5  ...                                      0.0

[5 rows x 15 columns]

#DimCurso

In [44]:
#Carregando a tabela dimCurso
dimCurso = pd.read_csv('df_curso.csv', usecols=['CODIGO_CURSO','NOME_CURSO','MODALIDADE_ENSINO'])
dimCurso.head()

   CODIGO_CURSO           NOME_CURSO MODALIDADE_ENSINO
0           1.0              DIREITO        Presencial
1           2.0  CIÃNCIAS ECONÃMICAS        Presencial
2           3.0     ENGENHARIA CIVIL        Presencial
3           6.0            PEDAGOGIA        Presencial
4           7.0       SERVIÃO SOCIAL        Presencial

In [45]:
key_id_dimcurso = pd.read_csv('key_id_dimcurso.csv')
key_id_dimcurso.head()

   key  cod_curso
0    1          1
1    2          2
2    3          3
3    4          6
4    5          7

In [46]:
#Renomeando as colunas
dimCurso = dimCurso.rename(columns={
    'CODIGO_CURSO':'cod_curso',
    'NOME_CURSO':'nome_curso',
    'MODALIDADE_ENSINO':'modalidade_ensino',
        })
dimCurso.head()

   cod_curso           nome_curso modalidade_ensino
0        1.0              DIREITO        Presencial
1        2.0  CIÃNCIAS ECONÃMICAS        Presencial
2        3.0     ENGENHARIA CIVIL        Presencial
3        6.0            PEDAGOGIA        Presencial
4        7.0       SERVIÃO SOCIAL        Presencial

In [47]:
#Join com arquivo csv com key e id_aluno
dimCurso = pd.merge(dimCurso, key_id_dimcurso, how = 'inner', on = 'cod_curso')
dimCurso.head()

   cod_curso           nome_curso modalidade_ensino  key
0        1.0              DIREITO        Presencial    1
1        2.0  CIÃNCIAS ECONÃMICAS        Presencial    2
2        3.0     ENGENHARIA CIVIL        Presencial    3
3        6.0            PEDAGOGIA        Presencial    4
4        7.0       SERVIÃO SOCIAL        Presencial    5

In [48]:
#Renomeando as colunas
dimCurso = dimCurso.rename(columns={
    'key':'DimCurso_key',
        })
dimCurso.head()

   cod_curso           nome_curso modalidade_ensino  DimCurso_key
0        1.0              DIREITO        Presencial             1
1        2.0  CIÃNCIAS ECONÃMICAS        Presencial             2
2        3.0     ENGENHARIA CIVIL        Presencial             3
3        6.0            PEDAGOGIA        Presencial             4
4        7.0       SERVIÃO SOCIAL        Presencial             5

In [49]:
dimCurso = dimCurso[['DimCurso_key','cod_curso','nome_curso','modalidade_ensino']]
dimCurso.head()

   DimCurso_key  cod_curso           nome_curso modalidade_ensino
0             1        1.0              DIREITO        Presencial
1             2        2.0  CIÃNCIAS ECONÃMICAS        Presencial
2             3        3.0     ENGENHARIA CIVIL        Presencial
3             4        6.0            PEDAGOGIA        Presencial
4             5        7.0       SERVIÃO SOCIAL        Presencial

#DimIes

In [50]:
#Carregando a tabela dimIes
dimIes = pd.read_csv('df_curso.csv', usecols=['CODIGO_IES','NOME_IES','TIPO_CATEGORIA_ADM','SIGLA_IES','TIPO_ORG_ACADEMICA','CODIGO_CURSO'])
dimIes.head()

   CODIGO_IES  ... CODIGO_CURSO
0           1  ...          1.0
1           1  ...          2.0
2           1  ...          3.0
3           1  ...          6.0
4           1  ...          7.0

[5 rows x 6 columns]

In [51]:
key_id_dimies = pd.read_csv('key_id_dimies.csv')
key_id_dimies.head()

   key  cod_ies
0    1        1
1    2        2
2    3        3
3    4        4
4    5        5

In [52]:
#Renomeando as colunas
dimIes = dimIes.rename(columns={
    'CODIGO_IES':'cod_ies',
    'NOME_IES':'nome',
    'TIPO_CATEGORIA_ADM':'categoria',
    'SIGLA_IES':'sigla',
    'TIPO_ORG_ACADEMICA':'tipo_organizacao',
    'CODIGO_CURSO':'cod_curso',
        })
dimIes.head()

   cod_ies                                 nome  ... tipo_organizacao cod_curso
0        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       1.0
1        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       2.0
2        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       3.0
3        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       6.0
4        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...     Universidade       7.0

[5 rows x 6 columns]

In [55]:
#Join com arquivo csv com key e id_aluno
dimIes = pd.merge(dimIes, key_id_dimies, how = 'inner', on = 'cod_ies')
dimIes.head()

   cod_ies                                 nome  ... cod_curso key
0        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       1.0   1
1        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       2.0   1
2        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       3.0   1
3        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       6.0   1
4        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       7.0   1

[5 rows x 7 columns]

In [56]:
#Renomeando as colunas
dimIes = dimIes.rename(columns={
    'key':'DimIes_key',
        })
dimIes.head()

   cod_ies                                 nome  ... cod_curso DimIes_key
0        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       1.0          1
1        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       2.0          1
2        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       3.0          1
3        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       6.0          1
4        1  UNIVERSIDADE FEDERAL DE MATO GROSSO  ...       7.0          1

[5 rows x 7 columns]

In [53]:
#Join DimCurso com DimIes
dimCurso = pd.merge(dimCurso, dimIes, how = 'inner', on = 'cod_curso')
dimCurso.head()

   DimCurso_key  cod_curso  ...        categoria tipo_organizacao
0             1        1.0  ...  PÃºblica Federal     Universidade
1             2        2.0  ...  PÃºblica Federal     Universidade
2             3        3.0  ...  PÃºblica Federal     Universidade
3             4        6.0  ...  PÃºblica Federal     Universidade
4             5        7.0  ...  PÃºblica Federal     Universidade

[5 rows x 9 columns]

#DimMunicipio (DimRegiao)

In [42]:
#Carregando a tabela dimIes
dimRegiao = pd.read_csv('df_curso.csv', usecols=['CODIGO_CURSO','CO_MUNICIPIO','UF','REGIAO'])
dimRegiao.head()

         REGIAO           UF  CO_MUNICIPIO  CODIGO_CURSO
0  Centro-Oeste  Mato Grosso     5103403.0           1.0
1  Centro-Oeste  Mato Grosso     5103403.0           2.0
2  Centro-Oeste  Mato Grosso     5103403.0           3.0
3  Centro-Oeste  Mato Grosso     5103403.0           6.0
4  Centro-Oeste  Mato Grosso     5103403.0           7.0

In [54]:
key_id_dimregiao = pd.read_csv('key_id_dimregiao.csv')
key_id_dimregiao.head()

   key  cod_municipio
0    1              1
1    2              2
2    3              3
3    4              4
4    5              5

In [ ]:
#Renomeando as colunas
dimIes = dimIes.rename(columns={
    'CODIGO_IES':'cod_ies',
    'NOME_IES':'nome',
    'TIPO_CATEGORIA_ADM':'categoria',
    'SIGLA_IES':'sigla',
    'TIPO_ORG_ACADEMICA':'tipo_organizacao',
    'CODIGO_CURSO':'cod_curso',
        })
dimIes.head()

#FatoCursoDeficiencia

In [43]:
dimCurso.head()

NameError: ignored

In [36]:
dimDeficiencia.head()

   DimDeficiencia_key  ...  deficiencia_tgd_transtor_desintegrativo
0                   1  ...                                      0.0
1                   2  ...                                      0.0
2                   3  ...                                      0.0
3                   4  ...                                      0.0
4                   5  ...                                      0.0

[5 rows x 15 columns]

In [37]:
#Join dimAluno com dimDeficiencia
FatoCursoDeficiencia = pd.merge(dimAluno, dimDeficiencia, how = 'inner', on = 'id_aluno')
#FatoCursoDeficiencia = dimAluno.join(dimDeficiencia.set_index('ID_ALUNO'), on='ID_ALUNO')
FatoCursoDeficiencia.head()

   DimAluno_key  ...  deficiencia_tgd_transtor_desintegrativo
0             1  ...                                      0.0
1             2  ...                                      0.0
2             3  ...                                      0.0
3             4  ...                                      0.0
4             5  ...                                      0.0

[5 rows x 20 columns]